@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto.woff");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Robotobold.woff");
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: #FFF;
  background: #08020D;
}

.bg {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.first-section {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.header {
  position: absolute;
  top: 25px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1/3;
}

.logo-img {
  width: 24px;
  height: 24px;
  padding-right: 1rem;
}

.pt-3px {
  padding-top: 3px;
}

.menu {
  grid-column: 5/11;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-item {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.pr-24px {
  padding-right: 1.5rem;
}

.search {
  box-sizing: border-box;
  width: 248px;
  grid-column: 20/25;
}

.search-field {
  padding: 5px 0 5px 10px;
  width: 100%;
  height: 25px;
  border-radius: 50px;
  background: #3C3B3D;
  border: none;
}

input.search-field::placeholder {
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  line-height: 15.3px;
  font-weight: 400;
  text-transform: uppercase;
}

#page-description {
  padding: 200px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 38px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.promotion {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
}

.registration {
  margin: 0 auto;
  max-width: 570px;
}

.fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
}

.reg-input {
  padding: 0;
  margin-bottom: 1.5rem;
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 3px;
  background: inherit;
}

.btn {
  padding: 20px 30px;
  width: 100%;
  min-height: 57px;
  border: none;
  border-radius: 5px;
  background: #34C176;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  line-height: 15.3px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
}

fieldset input::placeholder {
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 14px;
  line-height: 16.41;
  font-weight: 700;
  text-transform: initial;
  text-align: left;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

@media (max-width: 414px) {
  .first-section {
    padding: 0 20px;
    max-width: 414px;
  }
  .header {
    padding: 0 20px;
    display: block;
    left: 0;
    right: 0;
  }
  .logo {
    margin-bottom: 17px;
  }
  .mb-3px {
    margin-bottom: 3px;
  }
  .menu-item {
    padding: 0;
    font-size: 11px;
    line-height: 12.89px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu {
    margin-bottom: 18px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .search {
    width: 100%;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
  }
  #page-description {
    padding-top: 250px;
  }
  .promotion {
    margin: 16px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: initial;
  }
  .registration {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .reg-input {
    box-sizing: border-box;
    width: 100%;
  }
}
#page-pricing {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
  text-align: center;
}

.pb-45px {
  padding-bottom: 45px;
}

.pt-100px {
  padding-top: 100px;
}

.mr-50px {
  margin-right: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.pricing-item {
  flex: 1 1 26.5%;
  padding: 0 1.5rem;
  border-radius: 1rem;
  margin-bottom: 40px;
}

.pt-24px {
  padding-top: 24px;
}

.pb-200px {
  padding-bottom: 200px;
}

h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing-value {
  margin: 0;
  padding-bottom: 40px;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 64px;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.rub {
  padding-left: 16px;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: top;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 66px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.pricing-btn {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing-footer {
  margin: 0;
  padding: 64px 0;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 12.8px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
  text-align: center;
}

.footer-text-price {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 414px) {
  #page-pricing {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pricing-item {
    margin-right: 0;
  }
}
#page-news {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
}

.ta-center {
  text-align: center;
}

.pb-48px {
  padding-bottom: 48px;
}

.news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 64px;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.img-size {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.text-news-title {
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
}

.text-news-txt {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
  color: #CACACA;
}

.txt-paddings-f {
  padding-top: 30px;
  padding-bottom: 24px;
}

.txt-paddings-s {
  padding-top: 30px;
  padding-bottom: 15px;
}

.news-author {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}

.text-news-caption {
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  color: #CACACA;
}

.text-yellow {
  color: #F89202;
}

.pr-16px {
  padding-right: 16px;
}

.btn-style {
  color: #CACACA;
  text-decoration: none;
  padding: 16px 30px;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 5px;
}

@media (max-width: 414px) {
  #page-news {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 414px;
  }
  .news-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .text-news-title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: initial;
  }
  .txt-paddings-f {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .txt-paddings-s {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .news-item {
    display: flex;
    gap: 50px;
  }
}
.mobile {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}

.about-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.promo-app {
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
  color: #CACACA;
}

.download-btn {
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 12.8px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
  color: #FFF;
  text-decoration: none;
  padding: 17px 40px;
  border: none;
  border-radius: 32px;
  background: #95390C;
}

.pb-16px {
  padding-bottom: 16px;
}

.ta-center {
  text-align: center;
}

@media (max-width: 414px) {
  .mobile {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 414px;
  }
  .about-app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  h2 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.bg-gradient {
  margin: 0 auto;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
}

.footer-top-part {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.footer-list-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-list-item {
  text-decoration: none;
  color: #E0E0E0;
}

.pr-24px {
  padding-right: 24px;
}

.footer-bottom-part {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1200px;
}

.f-bottom-item {
  text-decoration: none;
  padding-right: 16px;
  color: #E0E0E0;
}

@media (max-width: 414px) {
  .footer-top-part, .footer-bottom-part {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-top-part {
    gap: 30px;
  }
  .footer-bottom-part {
    gap: 16px;
  }
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: #FFF;
  background: #08020D;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.ta-left {
  text-align: left;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.albums-cover {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.artist-btn {
  width: 200px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  text-align: left;
}

.btn-mix {
  background: #5328A1;
}

.btn-favourite {
  background: #95390C;
}

.icons {
  width: 20px;
  height: 20px;
  filter: invert(1);
  padding-right: 16px;
  vertical-align: middle;
}

.name-btn {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 12.8px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

@media (max-width: 414px) {
  .albums-cover {
    padding: 0 20px;
    max-width: 414px;
  }
}

/*# sourceMappingURL=app.css.map */
