@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto.woff");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Robotobold.woff");
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: #CACACA;
  background: #08020D;
}

.bg {
  margin: 0 auto;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.standart-section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

.header {
  position: absolute;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 24px;
  height: 24px;
  padding-right: 1rem;
}

.menu {
  margin-left: 5.625rem;
  display: flex;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #CACACA;
}

.white {
  color: #FFF;
}

.pr-24px {
  padding-right: 1.5rem;
}

.mr-451px {
  margin-right: 28.1875rem;
}

.search {
  width: 248px;
}

.search-field {
  padding: 5px 0 5px 10px;
  width: 100%;
  border-radius: 50px;
  background: #3C3B3D;
  border: none;
}

.arial-font {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15.29px;
  text-transform: uppercase;
}

.silver {
  color: #757575;
}

#page-description {
  margin: 0 auto;
  padding: 200px 20px;
  max-width: 1200px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FFF;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FFF;
}

.promotion {
  margin-top: 31px;
  margin-bottom: 17px;
}

.txt-16px {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: initial;
}

.ta-center {
  text-align: center;
}

.registration {
  margin: 0 auto;
  max-width: 570px;
}

.fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
}

.reg-input {
  margin-bottom: 1.5rem;
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 3px;
  background: inherit;
}

.btn {
  border-radius: 5px;
}

.btn-green {
  padding: 20px 30px;
  background: #34C176;
}

.border-n {
  border: none;
}

.width-100 {
  width: 100%;
}

fieldset input::placeholder {
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: initial;
  color: #FFF;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

@media (max-width: 414px) {
  .header {
    display: block;
  }

  .logo {
    margin-bottom: 17px;
  }

  .mb-3px {
    margin-bottom: 3px;
  }

  .menu-item {
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    line-height: 12.89px;
    text-transform: uppercase;
  }

  .menu {
    margin: 0 0 18px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .search {
    width: 374px;
  }
}

@media (max-width: 414px) {
  #page-description {
    margin: 0 auto;
    padding-top: 200px;
    max-width: 414px;
  }

  .pt-50px {
    padding-top: 50px;
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFF;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFF;
  }

  .promotion {
    margin: 16px 0;
  }

  .registration {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }

  .reg-input {
    box-sizing: border-box;
    width: 100%;
  }
}

#page-pricing {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.m-0 {
  margin: 0;
}

.mb-200px {
  margin-bottom: 200px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-48px {
  padding-bottom: 48px;
}

.pl-16px {
  padding-left: 16px;
}

.va-super {
  vertical-align: super;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.txt-24px {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

.txt-64px {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
}

.txt-32px {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
}

.txt-16px-up-td-none {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.txt-small {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-transform: initial;
}

.pricing-btn {
  padding: 20px 30px;
  border: 1px solid #FFF;
}

.pricing-footer {
  margin: 0;
  padding: 64px 0;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}

@media (max-width: 414px) {
  #page-pricing {
    max-width: 414px;
  }

  .cards {
    display: flex;
    flex-flow: column wrap;
    row-gap: 50px;
  }

  .h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

#page-news {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.pr-1rem {
  padding-right: 1rem;
}

.news {
  display: flex;
  flex-flow: column wrap;
  row-gap: 64px;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.img-size {
  width: 100%;
  vertical-align: middle;
  background-size: cover;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: initial;
  color: #FFF;
}

.txt-paddings-f {
  padding-top: 30px;
  padding-bottom: 24px;
}

.txt-paddings-s {
  padding-top: 30px;
  padding-bottom: 15px;
}

.news-author {
  display: flex;
  align-items: center;
}

.txt-small-upper {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 1.5;
  text-transform: uppercase;
}

.sandy {
  color: #F89202;
}

.dark-grey {
  color: #CACACA;
}

.td-none {
  text-decoration: none;
}

.news-btn {
  box-sizing: border-box;
  padding: 16px 30px;
  border: 1px solid #CACACA;
  width: fit-content;
  background: inherit;
}

@media (max-width: 414px) {
  #page-news {
    max-width: 414px;
  }

  .news-item {
    display: flex;
    flex-flow: column wrap;
    row-gap: 50px;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: initial;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .txt-paddings-f {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .txt-paddings-s {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

#page-app {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.grid-col2-1fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.btn-download {
  padding: 17px 41px 17px 40px;
  background: #95390C;
  border-radius: 32px;
}

@media (max-width: 414px) {
  .mobile {
    max-width: 414px;
  }

  .flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
  }
}

.bg-gradient {
  margin: 0 auto;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-title-paddings {
  padding-top: 14px;
  padding-bottom: 16px;
}

.footer-list {
  margin: 0 0 16px;
  padding: 0;
  list-style-type: none;
}

.txt-18px-upper {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}

.grey {
  color: #E0E0E0;
}

.footer-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: initial;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

@media (max-width: 414px) {
  .footer {
    max-width: 414px;
  }

  .footer-top, .footer-flex {
    display: flex;
    flex-flow: column wrap;
  }

  .footer-flex {
    row-gap: 1rem;
  }
}

.bg-artist {
  margin: 0 auto;
  background-image: url("../images/MortenHarket.png");
  background-position: center;
  background-size: cover;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pb-24px {
  padding-bottom: 24px;
}

.va-middle {
  vertical-align: middle;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-artist {
  width: 200px;
  padding: 20px 30px;
  border: none;
  text-align: left;
}

.btn-violet {
  background: #5328A1;
}

.btn-brown {
  background: #95390C;
}

.icons {
  width: 20px;
  height: 20px;
  filter: invert(1);
  padding-right: 16px;
  vertical-align: middle;
}

#page-popular-track {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.track-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}

.tr-cover {
  width: 55px;
  height: 55px;
  padding-right: 15px;
}

.popular-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-info {
  display: flex;
  align-items: center;
}

.txt-small-upper-bold {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 1.5;
  text-transform: uppercase;
}

@media (max-width: 414px) {
  #page-popular-track {
    max-width: 414px;
  }

  .track-list {
    display: flex;
    flex-flow: column wrap;
  }
}

#page-discography {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

h4 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: initial;
  color: #FFF;
}

.discography-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.album-cover {
  width: 250px;
  height: 250px;
}

.discography-info {
  padding-top: 14px;
  display: flex;
  flex-flow: column wrap;
}

@media (max-width: 414px) {
  #page-discography {
    max-width: 414px;
  }

  .discography-list {
    display: flex;
    flex-wrap: wrap;
  }

  .album-cover {
    width: 137px;
    height: 137px;
  }

  .discography-info {
    max-width: 137px;
  }
}

#page-similar {
  margin: 0 auto;
  padding: 100px 20px;
  max-width: 1200px;
}

.similar-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.singer-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.similar-info {
  padding-top: 14px;
  text-align: center;
}

@media (max-width: 414px) {
  #page-similar {
    max-width: 414px;
  }

  .similar-list {
    grid-template-columns: repeat(2, 137px);
  }

  .singer-picture {
    width: 137px;
    height: 137px;
  }
}
