#page-app {
  @include section-desktop;
  padding-bottom: 100px;
}

.grid-col2-1fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-download {
  padding: 16px 40px;
  background: $brown;
  border-radius: 32px;
  width: fit-content;
}

.pb-1rem {
  padding-bottom: 1rem;
}
