#page-app {
  @include section-desktop;
}

.grid-col2-1fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.btn-download {
  padding: 17px 41px 17px 40px;
  background: $brown;
  border-radius: 32px;
}
