.mobile {
  @include m-0-auto;
  max-width: 1200px;
  padding: 100px 0;
}

.about-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

// text-news-txt
.promo-app {
  // @include m-0;
  @include roboto-font-style;
  @include font-style(16px, 400, initial);
  color: $white-s;
}

.download-btn {
  @include roboto-font-style;
  @include font-style(12.8px, 400, initial);
  color: $white;
  text-decoration: none;
  padding: 17px 40px;

  border: none;
  border-radius: 32px;
  background: $brown;
}

.pb-16px {
  padding-bottom: 16px;
}
