.bg-artist {
  background-image: url('../images/MortenHarket.png');
  background-position: center;
  background-size: cover;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pb-24px {
  padding-bottom: 24px;
}

.va-middle {
  vertical-align: middle;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-artist {
  width: 200px;
  height: 62px;
  padding: 20px 30px;
  border: none;
  text-align: left;
}

.btn-violet {
  background: $violet;
}

.btn-brown {
  background: $brown;
}

.icons {
  width: 20px;
  height: 20px;
  filter: invert(1);
  padding-right: 16px;
  vertical-align: middle;
}
