$font-sizes: (
    desktop-h1: 60px,
    desktop-h2: 38px,
    mobile-h1: 30px,
    mobile-h2: 18px
);

$line-heights: (
    desktop-h1: 90px,
    desktop-h2: 57px,
    mobile-h1: 45px,
    mobile-h2: 27px
);

$general: (
    font-weight: bold,
    text-transform: uppercase
);


