@media (max-width: 414px) {
  #page-discography {
    @include section-mobile;
  }

  .discography-list {
    display: flex;
    flex-wrap: wrap;
  }

  .album-cover {
    @include width-height(137px, 137px);
  }

  .discography-info {
    max-width: 137px;
  }
}