#page-discography {
  @include section-desktop;
}

h4 {
  @include h4;
}

.discography-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.album-cover {
  @include width-height(250px, 250px);
}

.discography-info {
  padding-top: 14px;

  @include flex-column-wrap;
}


