@media (max-width: 414px) {
  #page-discography {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 414px;
  }

  .discography-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .album-cover {
    width: 137px;
    height: 137px;
  }

  .discography-info {
    max-width: 137px;
  }
}