.bg-gradient {
  @include m-0-auto;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
  @include font-style(16px, 400, initial);
}

.footer-top-part {
  @include m-0-auto;
  padding: 3rem 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.footer-list-title {
  margin: 0;
  padding-bottom: 15px;

  @include font-style(18px, 700, uppercase);
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-list-item {
  text-decoration: none;
  color: $footer;
}

.footer-bottom-part {
  @include m-0-auto;
  padding: 2rem 0;
  max-width: 1200px;
}

.f-bottom-item {
  text-decoration: none;
  padding-right: 16px;
  color: $footer;
}