@media (max-width: 414px) {
    .header {
        display: block;

        // display: flex;
        // flex-flow: column wrap;
        // align-items: flex-start;
    }

    .logo {
        margin-bottom: 17px;
    }

    .mb-3px {
        margin-bottom: 3px;
    }

    .menu-item {
        @include txt-11px-mobile;
    }

    .menu {
        margin: 0 0 16px;

        @include flex-column-wrap;
        align-items: flex-start;
        justify-content: center;
    }

    .search {
        @include width(374px);
    }
}