
body {
    @include p-0;
    @include m-0-auto;
    @include roboto-font-style;
    
    background: $dark;
}

.bg {
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
}

.first-section {
    @include m-0-auto;
    max-width: 1200px;
    position: relative;
}

.header {
    position: absolute;
    top: 25px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: center;
}

.logo {
    @include flex-center;
    grid-column: 1 / 3;
}

.logo-img {
    @include width-height(24px, 24px);
    padding-right: px-to-rem(16px);
    
}

.pt-3px {
    padding-top: 3px;
}

.menu {
    grid-column: 5 / 11;

    @include flex-center;
    justify-content: flex-end;
}

.menu-item {
    text-decoration: none;

    @include roboto-font-style;
    @include font-style(11px, 400, uppercase);
}

.pr-24px {
    padding-right: px-to-rem(24px);
}

.search {
    box-sizing: border-box;

    @include width(248px);
    grid-column: 20 / 25;
}

.search-field {
    padding: 5px 0 5px 10px;

    @include width-height(100%, 25px);
    @include border-r-and-background(50px, $grey);
    @include border-n;
}

input.search-field::placeholder {
    @include arial-font-style;
    @include font-style(13.3px, 400, uppercase, 15.3px);
}

