@media (max-width: 414px) {
    .first-section {
        padding: 0 20px;
        max-width: 414px;
    }

    .header {
        padding: 0 20px;
        display: block;
        left: 0;
        right: 0;
    }

    .logo {
        @include mb(17px);
    }

    .mb-3px {
        @include mb(3px);
    }

    .menu-item {
        @include p-0;
        @include font-style(11px, 700, uppercase, 12.89px);
    }

    .menu {
        @include mb(18px);
        @include flex-column;
    }

    .search {
        @include width(100%);
    }
}