h1 {
    @include h1;
}

h2 {
    @include h2;
}

.promotion {
    margin-top: 30px;
    margin-bottom: 16px;
}

.txt-16px {
    @include txt-16px;
}

.ta-center {
    text-align: center;
}

.registration {
    @include m-0-auto;
    max-width: 570px;
}

.fieldset {
    @include m-0;
    @include p-0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include border-n;
}

.reg-input {
    margin-bottom: 1.5rem;
    min-width: 270px;
    min-height: 50px;
    border: 2px solid $white;

    @include border-r-and-background(3px, inherit);
}

.btn {
    @include btn;
}

.btn-green {
    padding: 20px 30px;
    background: $green;
}

.border-n {
    @include border-n;
}

.width-100 {
    @include width(100%);
}

fieldset input::placeholder {
    padding-left: 20px;

    @include roboto-font-style;
    @include txt-14px;
    @include color;
}

.sr-only {
    @include width-height(1px, 1px);
    @include p-0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;

    @include border-n;
}