@media (max-width: 414px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 18px;
    }

    .promotion {
        margin: 16px 0;
    }

    .registration {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }

    .reg-input {
        box-sizing: border-box;

        @include width(100%);
    }
}
