#page-description {
    padding: 200px 0;
    text-align: center;
}

h1 {
    @include m-0;
    @include font-style(60px, 700, uppercase);
}

h2 {
    @include m-0;
    @include font-style(38px, 700, uppercase);
}

.promotion {
    margin-top: 30px;

    @include font-style(16px, 400, initial);
}

.registration {
    @include m-0-auto;
    max-width: 570px;
}

.fieldset {
    @include m-0;
    @include p-0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include border-n;
}

.reg-input {
    @include p-0;
    margin-bottom: 1.5rem;
    min-width: 270px;
    min-height: 50px;
    border: 2px solid $white;

    @include border-r-and-background(3px, inherit);
}

.btn {
    padding: 20px 30px;

    @include width(100%);
    min-height: 57px;

    @include border-n;
    @include border-r-and-background(5px, $green);
    @include arial-font-style;
    @include font-style(13.3px, 400, uppercase, 15.3px);
    color: $white;
}

fieldset input::placeholder {
    padding-left: 20px;

    @include roboto-font-style;
    @include font-style(14px, 700, initial, 16.41);
    text-align: left;
}

.sr-only {
    @include width-height(1px, 1px);
    @include p-0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;

    @include border-n;
}