@media (max-width: 414px) {
  #page-news {
    @include section-mobile;
  }

  .news-item {
    display: flex;
    flex-flow: column wrap;
    row-gap: 50px;
  }

  h3 {
    @include txt-16px;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .txt-paddings-f {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  
  .txt-paddings-s {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}