#page-news {
  @include m-0-auto;
  padding-top: 100px;
  max-width: 1200px;
}

.ta-center {
  text-align: center;
}

.pb-48px {
  padding-bottom: 48px;
}

.news {
  display: flex;
  flex-flow: column wrap;
  gap: 64px;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.img-size {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.text-news-title {
  @include roboto-font-style;
  @include font-style(30px, 400, initial);
}

.text-news-txt {
  @include m-0;
  @include roboto-font-style;
  @include font-style(16px, 400, initial);
  color: $white-s;
}

.txt-paddings-f {
  padding-top: 30px;
  padding-bottom: 24px;
}

.txt-paddings-s {
  padding-top: 30px;
  padding-bottom: 15px;
}

.news-author {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}

.text-news-caption {
  @include roboto-font-style;
  @include font-style(12px, 400, uppercase, 1.6);
  color: $white-s;
}

.text-yellow {
  color: $sandy;
}

.pr-16px {
  padding-right: 16px;
}

.btn-style {
  color: $white-s;
  text-decoration: none;
  padding: 16px 30px;

  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 5px;
}



