#page-news {
  @include section-desktop;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.pr-1rem {
  padding-right: 1rem;
}

.news {
  display: flex;
  flex-flow: column wrap;
  row-gap: 64px;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.img-size {
  width: 100%;
  vertical-align: middle;
  background-size: cover;
}

h3 {
  @include h3;
}

.txt-paddings-f {
  padding-top: 30px;
  padding-bottom: 24px;
}

.txt-paddings-s {
  padding-top: 30px;
  padding-bottom: 15px;
}

.news-author {
  display: flex;
  align-items: center;
}

.txt-small-upper {
  @include txt-small-upper;
}

.sandy {
  @include color($sandy);
}

.dark-grey {
  @include color($dark-grey);
}

.td-none {
  text-decoration: none;
}

.news-btn {
  box-sizing: border-box;
  padding: 16px 30px;
  border: 1px solid $dark-grey;
  width: fit-content;
}




