@media (max-width: 414px) {
  #page-pricing {
    @include section-mobile;
  }

  .cards {
    display: flex;
    flex-flow: column wrap;
    row-gap: 50px;
  }

  .h3 {
    @include h3-mobile-upper;
  }
}
