#page-pricing {
  @include section-desktop;
}

.m-0 {
  @include m-0;
}

.mb-200px {
  margin-bottom: 200px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-48px {
  padding-bottom: 48px;
}

.pl-16px {
  padding-left: 16px;
}

.va-top {
  vertical-align: top;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.txt-24px {
  @include txt-24px;
}

.txt-64px {
  @include txt-64px;
}

.txt-32px {
  @include txt-32px;
}

.txt-16px-up-td-none {
  @include txt-16px-up-td-none;
}

.txt-small {
  @include txt-small;
}

.pricing-btn {
  padding: 20px 30px;
  border: 1px solid $white;
}

.pricing-footer {
  @include m-0;
  padding: 64px 0;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

